<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.think.awhealth"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".service.AlarmReceiver">
            <intent-filter>
                <action android:name="com.think.awhealth.alarm"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.KeepAlarmLiveReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.healthInfor.HealthInforDetailActivity"
            android:label="@string/title_activity_health_infor_detail"
            >
        </activity>
        <activity
            android:name=".ui.setting.SettingsActivity"
            android:label="@string/title_Setting"
            >
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:parentActivityName=".MainActivity"
            android:label="疾病药品搜索"
            >
        </activity>
        <activity android:name=".ui.search.SearchDrugResultActivity"
            android:label="药品搜索结果"
            >
        </activity>
        <activity android:name=".ui.search.SearchDiseaseResultActivity"
            android:label="疾病搜索结果">
        </activity>
    </application>

</manifest>
